bookshop/bookshop.db
image_processing/basics
image_processing/face-detection/Files/news.jpg
image_processing/face-detection/Files/photo.jpg
website-blocker/config.cnf
image_processing/motion-detection/log.csv

